* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

body {
    font-size: 18px;
}

.input-wrap {
    position: relative;
    max-width: 800px;
    border: 1px solid black;
}

.input-wrap label {
    /*position: absolute;*/
    width: 25%;
    line-height: 1;
}

.input-wrap input[type=text] {
    /*border: 1px solid green;*/
    border: none;
    width: 73%;
}

.help {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

input[name=Field1]:focus ~ .help {
    display: block;
}


@media screen and (min-width: 800px) {
}
